body {
    background-image: url('https://i.pinimg.com/originals/1b/d7/7c/1bd77c8c3743b9338247918f3a574e2f.gif');
    background-size: cover;
    background-repeat: no-repeat;
  
  }
.signup-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    background-color: #e4e1c9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .signup-container:hover {
    transform: scale(1.02);
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
  }
  
  .form-group input {
    width: 80%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-group input:focus {
    border-color: #007bff;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #525e6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2b7a59;
  }
  
